/*外，内边距,使用如：mt10、pt10等*/
$i: 4;
@while ($i<=400) {
  @each $t, $t1 in (m:margin, p:padding) {
    @each $p, $p1 in (t:top, r:right, b:bottom, l:left) {
      .#{$t}#{$p}#{$i} {
        #{$t1}-#{$p1}: $i * 1px;
      }
    }
  }
  $i: $i + 1;
}
/*单行省略*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 /*多行省略*/
 @mixin ellipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  -webkit-line-clamp: $line;
}
/*3行省略*/
.ellipsis3{
  @include ellipsis(3)
}
